* {
    box-sizing: border-box;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

body{
    background-image:url(fondo6.jpg)
}

main{
    -webkit-box-shadow: 25px -16px 58px 18px rgba(82,255,159,0.83); 
    box-shadow: 25px -16px 58px 18px rgba(82, 163, 255, 0.83);
    color:aliceblue;
    display:inline-block;
    float: none;
    font-family: 'Roboto', sans-serif;
    width: 350px;
    height: 800px;
    border: 15px groove rgb(0, 66, 128);
    padding: 25px;
    margin: 20px;
}

section#Informacion_Personal {
    
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 31px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;

}
   
aside{
    -webkit-box-shadow: 25px -16px 58px 18px rgba(82,255,159,0.83); 
    box-shadow: 25px -16px 58px 18px rgba(82, 163, 255, 0.83);
    color:aliceblue;
    display:inline-flexbox;
    float: right;
    width: 800px;
    height: 800px;
    border: 15px groove rgb(246, 255, 196);
    padding: 25px;
    margin: 20px;

}
section#Experiencias{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }

section#Habilidades{
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 22px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #FFFFFF;
        font-weight: 700;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        }


img{ 
    position:relative;
    background: white;
    padding: 2px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 330px;
    border:1px solid black;
}
